    <div class="footer">
      <div class="left">Contact us :</div>
      <div class="right">Design & Developed By G.S.</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<br />
<div align=center>Copyright &copy; 2012 Packaging House.com | All Rights Reserved | Privacy Policy</div>
<br />

