    <div id="header">
      <div id="logo"><a href="index.html"><img src="/assets/pack-logo1.png" alt="" width="250" height="80" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li><a href="/pages/home">Home</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Catalogue</a></li>
          <li><a href="#">Carrers</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>
      </div>
    </div>