<%= render 'shared/middlebanner' %>
<div class="center_content">
      <div class="home_section_left"> <img border="0" class="home_section_icon" alt="" src="/assets/icon1.gif">
        <h2 class="home_title">What we do</h2>
        <div class="home_subtitle">Consectetur adipisicing elit</div>
        <div class="home_section_thumb"> <img border="0" alt="" src="/assets/home_section_thumb1.jpg"></div>
        <p><span>Lorem ipsum dolor sit ame</span><br>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. <br>
          <br>
          <span>Lorem ipsum dolor sit ame</span><br>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="more" href="#"><img border="0" alt="" src="/assets/more.gif"></a>
        <div class="clear"></div>
      </div>
      <div class="home_section_left"> <img border="0" class="home_section_icon" alt="" src="/assets/icon2.gif">
        <h2 class="home_title">Who we are</h2>
        <div class="home_subtitle">Tempor incididunt ut labore</div>
        <div class="home_section_thumb"> <img border="0" alt="" src="/assets/home_section_thumb2.jpg"></div>
        <p><span>Lorem ipsum dolor sit ame</span><br>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. <br>
          <br>
          <span>Lorem ipsum dolor sit ame</span><br>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="more" href="#"><img border="0" alt="" src="/assets/more.gif"></a>
        <div class="clear"></div>
      </div>
      <div class="home_section_left"> <img border="0" class="home_section_icon" alt="" src="/assets/icon3.gif">
        <h2 class="home_title">Special services</h2>
        <div class="home_subtitle">Sed do eiusmod tempor</div>
        <div class="home_section_thumb"> <img border="0" alt="" src="/assets/home_section_thumb3.jpg"></div>
        <p><span>Lorem ipsum dolor sit ame</span><br>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. <br>
          <br>
          <span>Lorem ipsum dolor sit ame</span><br>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="more" href="#"><img border="0" alt="" src="/assets/more.gif"></a>
        <div class="clear"></div>
      </div>
      <div class="left_block_wide">
        <h2>Latest Projects</h2>
        <a href="#"><img border="0" class="projects" alt="" src="/assets/p1.jpg"></a> <a href="#"><img border="0" class="projects" alt="" src="/assets/p2.jpg"></a> <a href="#"><img border="0" class="projects" alt="" src="/assets/p3.jpg"></a></div>
      <div class="right_block">
        <h2>Newsletter Sign up</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consequat.</p>
        <form action="#" id="newsletter">
          <input type="text" class="newsletter_input">
          <input type="submit" value="Sign up" class="newsletter_submit">
        </form>
      </div>
      <div class="clear"></div>
    </div>